/* RESETS
=========================================== */
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    line-height: 1;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #202020;
    background-color: #fbfbfb;
    padding: 0.5em;
}

/* POKEMON APPLICATION
=========================================== */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
}

.container p {
    margin: 0;
}

.container .pokemon {
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    overflow: hidden;
}

.container .pokemon__name {
    background-color: #ecd018;
    text-align: center;
    padding: 10px;
}

.container .pokemon__name p {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.container .pokemon__image {
    padding: 20px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .pokemon__image img {
    max-width: 100%;
    max-height: 240px;
}

.container .pokemon__attacks {
    display: flex;
    margin: 1em;
    grid-gap: 1em;
    justify-content: space-between;
}

.container .pokemon__attacks span {
    background-color: #f16820;
    border-radius: 5px;
    display: inline-block;
    font-weight: 700;
    color: #fff;
    padding: 4px 8px;
    font-size: 11px;
    text-align: center;
    line-height: 15px;
}

.container .pokemon__meta {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 10px;
}

.container .pokemon__meta span {
    color: white;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    background-color: #7bb7b7;
    font-weight: bold;
    margin: 0;
    padding: 5px 20px;
    border-radius: 5px;
}
